.wrapper-main {
    width: 1000px;
    margin: 0 auto;
    border-left: solid 1px white;
    border-right: solid 1px white;
    background-color: #f6f4f3;
}

header .content-header {
    display: flex;
}

header .logo {
    width: 33.33%;
    position: relative;
}

header .logo .logo-1 {
    position: absolute;
    top: -50.3px;
    left: -60px;
}

header .logo .logo-2 {
    display: block;
    margin-top: 90px;
    margin-left: 150px;
    border-right: 1px solid gray;
    padding-right: 50px;
}

header .slogan {
    width: 66.63%;
}

header .slogan p:nth-child(1) {
    margin-top: 90px;
    margin-right: 190px;
    margin-left: 50px;
    font-size: 18px;
    font-family: 'Helvetica';
    box-sizing: border-box;
    color: #a68a7d;
    line-height: 25px;
}

header .slogan p:nth-child(2) {
    color: white;
    margin-bottom: 40px;
    margin-left: 50px;
    font-size: 18px;
    font-family: 'Helvetica';
}

main .content {
    padding-left: 350px;
}

main .content-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .content-top .content-left {
    padding-top: 40px;
}

main .content-top .content-left ul li {
    padding-left: 50px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

main .content-top .content-left ul li h2 {
    line-height: 50px;
}

main .content-top .content-left ul li img {
    left: 430px;
    position: absolute;
    left: 0px;
}

main .content-top .content-left ul li h2 {
    font-size: 30px;
    font-family: "Duepuntozero";
    color: #745459;
}

main h1 {
    border-bottom: 1px solid gainsboro;
    font-size: 41.46px;
    padding-bottom: 20px;
    font-family: "Duepuntozero";
    margin-right: 100px;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main h3 {
    font-size: 41.46px;
    margin-top: 30px;
    font-family: "Duepuntozero";
}

.content-left p {
    font-size: 13px;
    font-family: 'Helvetica';
    padding-bottom: 10px;
}

.content-bottom {
    border-top: 1px solid gainsboro;
    margin-right: 45px;
}

.content-bottom .list ol {
    width: 120px;
    display: flex;
    justify-content: space-around;
    text-align: right;
    margin-top: 35px;
}

.content-bottom .list ol li:nth-child(1) {
    background-color: #a37a7e;
}

.content-bottom .list ol li {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 50%;
    background-color: #6c535a;
    font-size: 11.97px;
    font-family: 'Helvetica';
    align-items: center;
    color: #ffffff;
}

main .content-bottom img {
    border: 1px solid gainsboro;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 28px;
}

main .content-bottom p {
    font-size: 13px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 110px;
    text-align: right;
}

main .content-bottom p span {
    font-weight: bold;
}

blockquote {
    width: 250px;
    height: 450px;
    margin-right: 50px;
    margin-top: 30px;
    margin-left: 30px;
}

blockquote .content-row {
    background: #e6e2df;
    font-size: 20px;
    color: #7f6357;
    line-height: 21px;
    font-family: georgia;
    font-style: italic;
    padding: 25px;
}

blockquote .content-last {
    font-family: Arial, Helvetica, sans-serif;
    color: #2f231e;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

blockquote .content-last span {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: #89451f;
}

#secondaryContent .arrow {
    border-top: 30px solid #EEECEA;
    border-left: 30px solid transparent;
    height: 0;
    margin: 0 37px 0 auto;
    width: 0;
}