@font-face{
	font-family: 'Helvetica';
	src: url('../../Assets/fonts/Helvetica/Helvetica.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Georgia';
	src: url('../../Assets/fonts/Georgia/Georgia.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Georgia';
	src: url('../../Assets/fonts/Georgia/Georgiai.ttf');
	font-weight: normal;
	font-style: italic;
}
@font-face{
	font-family: 'Georgia';
	src: url('../../Assets/fonts/Georgia/Georgiab.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: 'Georgia';
	src: url('../../Assets/fonts/Georgia/Georgiaiz.ttf');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: "Duepuntozero";
	src: url("../../Assets/fonts/Duepuntozero/Duepuntozero.eot"); /* IE9*/
	src: url("../../Assets/fonts/Duepuntozero/Duepuntozero.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../../Assets/fonts/Duepuntozero/Duepuntozero.woff2") format("woff2"), /* chrome、firefox */
	url("../../Assets/fonts/Duepuntozero/Duepuntozero.woff") format("woff"), /* chrome、firefox */
	url("../../Assets/fonts/Duepuntozero/Duepuntozero.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("../../Assets/fonts/Duepuntozero/Duepuntozero.svg#Duepuntozero") format("svg"); /* iOS 4.1- */
	font-weight: normal;
	font-style: normal;
}

/*@font-face{
	font-family: 'Duepuntozero';
	src: url('../../Assets/fonts/Duepuntozero/duepuntozero.regular.otf') format("opentype"),
		url('../../Assets/fonts/Duepuntozero/duepuntozero.regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}*/

/*@font-face {
	font-family: "Helvetica";
	src: url("../../Assets/fonts/Helvetica/Helvetica.eot");
	src: url("../../Assets/fonts/Helvetica/Helvetica.eot?#iefix") format("embedded-opentype"),
	url("../../Assets/fonts/Helvetica/Helvetica.woff2") format("woff2"),
	url("../../Assets/fonts/Helvetica/Helvetica.woff") format("woff"),
	url("../../Assets/fonts/Helvetica/Helvetica.ttf") format("truetype"),
	url("../../Assets/fonts/Helvetica/Helvetica.svg#Helvetica") format("svg");
	font-style: normal;
}*/