footer {
    background-color: #3b2c25;
}

footer .content-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 37px;
}

footer .logo_footer {
    border-right: 1px solid gray;
    padding-right: 129px;
}

footer p {
    color: #ffffff;
    font-size: 11px;
}

footer span {
    color: #a68a7d;
}