header {
    background-color: #3b2c25;
}

.wrapper {
    background-color: #291e18;
    width: 1000px;
    margin: 0 auto;
    border-left: solid 1px #60483c;
    border-right: solid 1px #60483c;
}

.empty-top {
    margin: 0 auto;
    height: 50px;
    border-bottom: solid 0.3px #60483c;
    background-color: #251b17;
    position: relative;
}

li {
    list-style: none;
}

nav ul {
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 200px;
}

nav ul li img {
    display: block;
    margin: 0 auto;
}

nav ul li p {
    color: #c7b18d;
    font-size: 11px;
    text-align: center;
    margin-top: 5px;
}

li {
    list-style: none;
}